form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10%;
  margin-top: 30px;
}

form input {
  width: 20%;
  height: 30px;
  outline: none;
  padding: 2px;
}
.form-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

input {
  width: 20%;
}
.buttons{
    cursor: pointer;
    height: 30px;
    background: none;
    border: 1px solid black;
    width: 20.7%;
}
.buttons:hover{
    background-color: green;
    color: white;
}
